<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>

  <!-- Table -->
  <table class="table">
    <tr>
    <th>Name</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let user of userList" >
    <td>{{user.name}}</td>
    <td>{{user.lastname}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>
      <a href="" class="btn btn-warning">Edit</a>
      <a href="" class="btn btn-danger">Remove</a>
    </td>
  </tr>
  </table>
</div>