<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading clearfix">Lists Of users <a [routerLink]="['create']" class="btn btn-primary right">Add User</a></div>

  <!-- Table -->
  <table class="table">
    <tr>
    <th>Name</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let user of userList" >
    <td>{{user.name}}</td>
    <td>{{user.lastname}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>
      <a [routerLink]="['edit/' + user._id]" class="btn btn-warning">Edit</a>
      <a (click)="deleteThis(user._id)" class="btn btn-danger">Remove</a>
      <a [routerLink]="[(user.name | lowercase) + '.' + (user.lastname | lowercase) + '/' + user._id]" title="" class="btn btn-success">View</a>
    </td>
  </tr>
  </table>
  <div class="alert alert-warning" *ngIf="!userList?.length">
    No user found
  </div>
</div>