.main-container {
  margin-top: 70px;
}
.form-wrapper {
  width: 500px;
  margin: 0 auto;
}
.form-wrapper .input-group {
  margin-bottom: 15px;
  width: 100%;
}
.form-wrapper .input-group-addon {
  width: 100px;
  text-align: left;
}
.right {
  float: right;
}
.left {
  float: left;
}