<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Manage your user</div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt harum deleniti soluta beatae modi velit sapiente, magni dolore ab eos molestias vel nemo excepturi, similique architecto ipsam inventore cum blanditiis.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Manage your product</div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt harum deleniti soluta beatae modi velit sapiente, magni dolore ab eos molestias vel nemo excepturi, similique architecto ipsam inventore cum blanditiis.</p>
      </div>
    </div>
  </div>
</div>
