<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/']">Z.K User Manager</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/user']" *ngIf="userData">User</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="userData">
            <li class="active"><a href="./">Bonjour {{userData.lastname}}</a></li>
            <li><a href="./" (click)="onLogout()">Logout</a></li>
        </ul>
    </div><!--/.nav-collapse -->
    </div>
</nav>
<section class="main-container">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>
<app-flash-message [message]="'User created'" [msgClass]="'alert-success user-created'"></app-flash-message>
<app-flash-message [message]="'User removed'" [msgClass]="'alert-success user-removed'"></app-flash-message>
<app-flash-message [message]="'User updated'" [msgClass]="'alert-info user-updated'"></app-flash-message>