<div class="clearfix btn-heading" *ngIf="(userConnected?.data._id == userData?._id) || (userConnected?.data.role ? userConnected?.data.role[0] == 'admin' : false)">
  <a href="" class="btn btn-danger pull-right" *ngIf="(userConnected?.data.role ? userConnected?.data.role[0] == 'admin' : false)">Remove this user</a> 
  <a [routerLink]="['../../edit/' + userConnected?.data._id]" class="btn btn-warning pull-right" *ngIf="(userConnected?.data._id == userData?._id) || (userConnected?.data.role ? userConnected?.data.role[0] == 'admin' : false)">Edit</a>
</div>
<div class="desc">
  <div class="desc-head">
    <h2>About</h2>
  </div>
  <div class="desc-body">
    <p><span *ngIf="!editThis?.name">Name: {{userData?.name}}</span> <input type="text" [ngModel]="userData.name" id="name" *ngIf="editThis?.name" /> <a href="" title="" (click)="edit('name')">edit</a></p>
    <p><span *ngIf="!editThis?.lastname">Lastname: {{userData?.lastname}}</span> <input type="text" [ngModel]="userData.lastname" id="lastname" *ngIf="editThis?.lastname" />  <a href="" title="" (click)="edit('lastname')">edit</a></p>
    <p><span *ngIf="!editThis?.email">Email: {{userData?.email}}</span> <input type="text" [ngModel]="userData.email" id="email" *ngIf="editThis?.email" />  <a href="" title="" (click)="edit('email')">edit</a></p>
    <p><span *ngIf="!editThis?.phone">Phone: {{userData?.phone}}</span> <input type="text" [ngModel]="userData.phone" id="phone" *ngIf="editThis?.phone" />  <a href="" title="" (click)="edit('phone')">edit</a></p>
  </div>
</div>
<div  class="desc">
  <div class="desc-head">
    <h2>Description</h2>
  </div>
  <div class="desc-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facere vel expedita numquam ipsa praesentium hic voluptatibus necessitatibus quae, impedit tenetur consectetur odit, modi esse, quis voluptates! Quisquam, eligendi, consequatur.</p>
  </div>
</div>

