<div class="clearfix btn-heading" *ngIf="(userConnected?.data._id == userData?._id) || (userConnected?.data.role ? userConnected?.data.role[0] == 'admin' : false)">
  <a href="" class="btn btn-danger pull-right" *ngIf="(userConnected?.data.role ? userConnected?.data.role[0] == 'admin' : false)" (click)="deleteThis(userData?._id)">Remove this user</a> 
  <a [routerLink]="['../../edit/' + userConnected?.data._id]" class="btn btn-warning pull-right" *ngIf="(userConnected?.data._id == userData?._id) || (userConnected?.data.role ? userConnected?.data.role[0] == 'admin' : false)">Edit</a>
</div>
<div class="desc">
  <div class="desc-head">
    <h2>About</h2>
  </div>
  <div class="desc-body">
    <p>
      Name:<span *ngIf="!editThis?.name"> {{userData?.name}}</span> 
      <input type="text" [ngModel]="userData.name" id="name" *ngIf="editThis?.name" /> 
      <a href="" title="" (click)="edit('name')" *ngIf="((userConnected?.data._id == userData?._id) || (userConnected?.data.role ? userConnected?.data.role[0] == 'admin' : false)) && !editThis?.name">edit</a>
      <a href="" title="" (click)="save('name')" *ngIf="editThis?.name">save</a>
      <a href="" title="" (click)="cancel()" *ngIf="editThis?.name">cancel</a>
    </p>
    <p>
      Lastname:<span *ngIf="!editThis?.lastname"> {{userData?.lastname}}</span> 
      <input type="text" [ngModel]="userData.lastname" id="lastname" *ngIf="editThis?.lastname"/>  
      <a href="" title="" (click)="edit('lastname')" *ngIf="((userConnected?.data._id == userData?._id) || (userConnected?.data.role ? userConnected?.data.role[0] == 'admin' : false))  && !editThis?.lastname">edit</a>
      <a href="" title="" (click)="save('lastname')" *ngIf="editThis?.lastname">save</a>
      <a href="" title="" (click)="cancel()" *ngIf="editThis?.lastname">cancel</a>
    </p>
    <p>
      <span>Email: {{userData?.email}}</span> 
    </p>
    <p>
      Phone:<span *ngIf="!editThis?.phone"> {{userData?.phone}}</span> 
      <input type="text" [ngModel]="userData.phone" id="phone" *ngIf="editThis?.phone"/>  
      <a href="" title="" (click)="edit('phone')" *ngIf="((userConnected?.data._id == userData?._id) || (userConnected?.data.role ? userConnected?.data.role[0] == 'admin' : false))  && !editThis?.phone">edit</a>
      <a href="" title="" (click)="save('phone')" *ngIf="editThis?.phone">save</a>
      <a href="" title="" (click)="cancel()" *ngIf="editThis?.phone">cancel</a>
    </p>
  </div>
</div>
<div  class="desc">
  <div class="desc-head">
    <h2>Description</h2>
  </div>
  <div class="desc-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facere vel expedita numquam ipsa praesentium hic voluptatibus necessitatibus quae, impedit tenetur consectetur odit, modi esse, quis voluptates! Quisquam, eligendi, consequatur.</p>
  </div>
</div>

